<div>
  <h1 class="header">INSURANCE MANAGEMENT SYSTEM</h1>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/sign-up" routerLinkActive="active">Signup</a>
    <a routerLink="/customer-list" routerLinkActive="active">Customer-list</a>
    <a routerLink="/auth" routerLinkActive="active">Auth</a> <!-- Add router link for AuthComponent -->
  </nav>
  <router-outlet></router-outlet>
</div>
